<%= content_for :head do %>
    <title>About Us</title>
<% end %>

<%= content_for :intro do %>
    <h1>About Us</h1>
    <h2>This is our story</h2>
<% end %>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis sapien in diam placerat laoreet imperdiet gravida felis. Phasellus sed ultrices felis. Sed egestas dui sed eros consequat, in feugiat quam tempor. Curabitur eu blandit metus. Curabitur pharetra risus ut metus ultrices scelerisque. Sed a interdum nunc, vitae scelerisque felis. Morbi venenatis mollis massa eget consectetur. Curabitur ac elit magna. Nam dapibus nisl ac lorem consequat, sit amet condimentum mi viverra. Nam iaculis, orci sed scelerisque facilisis, nibh dui consequat lectus, et laoreet ligula nisi quis dui. Morbi rutrum nisl eu dignissim convallis. Donec id libero in diam bibendum malesuada. Nulla ullamcorper lacus sed dui pulvinar pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam urna mauris, tincidunt et vehicula eget, fringilla in urna. Nullam ultricies malesuada pulvinar.</p>
