<%= content_for :head do %>
    <title>Our Services</title>
<% end %>

<%= content_for :intro do %>
    <h1>Our Services</h1>
    <h2>We have a Solution for You</h2>
<% end %>    
<p>Duis ornare nisl non elementum elementum. Quisque sit amet mauris a mauris ullamcorper dignissim vel vitae nisl. Nulla sit amet euismod diam, eget accumsan arcu. Quisque convallis ligula sed tempor pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi varius felis arcu, ac imperdiet felis ultrices id. Ut at sagittis nunc. Maecenas dictum velit ut nisl tempus pharetra. Quisque at bibendum ligula. Maecenas porta imperdiet velit eget scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer consectetur vehicula odio eget bibendum. Sed pellentesque vehicula lectus, eu ullamcorper risus suscipit sed. Ut non quam velit.</p>
