// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-content {
    background: black;
}
.main-title {
    font-family: 'League Gothic';
    font-size: 72px;
    color: orange;
}

.sub-title {
    font-family: Helvetica;
    font-size: 48px;
    color: white;
}

.body-text {
    font-family: Helvetica;
    font-size: 18px;
    color: gray;
}